<h2 class="text-center">ESPECIALISTA </h2>
<div class="container">
    <div class="row">
        <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
                <div class="position-relative">
                    <div class="position-absolute top-100 start-50 translate-middle"></div>
                    <div class="form-floating mb-180" class="text-center">
                        <h3 class="text-center">EXAMEN EKG </h3>
                    </div>
                    <div>
                        <label class="form-label">FECHA:</label>
                        <input type="date" style="margin: 60px" value="2023-05-01"/>
                        <div class="form-group col-md-2">
                            <label for="inputZip">ID Del PACIENTE</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="dispositivo">ID Del DISPOSITIVO</label>
                        <input type="text" class="form-control" id="dispositivo">
                    </div>
                    <div class="row">
                        <div>
                            <div id="realtimechart">
                                <div class="container-canvas">
                                    <canvas id="realtime-chart"></canvas>
                                </div>

                            </div>
                            <button id="sendButton" (click)="sendBinaryData()">VER EXAMEN</button>
                            <div class="col-md-12 text-center">
                                <button id="grabar" (click)="sendBinaryData()">GRABAR</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="observaciones">OBSERVACIONES:</label>
                            <textarea class="form-control" id="observaciones" rows="3"></textarea>
                        </div>
                        <div class="col-12">
                            <button c type="submit" style="margin: 80px " class="btn btn-primary">GUARDAR</button>
                        </div>
                        <button class="btn btn-link" (click)="volver()">Volver</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>