<h2 class = "text-center">EXAMENES </h2>

<div class="container">
  <div class="row">

    <div class="card border-0 shadow rounded-3 my-5">
      <div class="card-body p-4 p-sm-5">

        <div class="col-md-4">
<div class="card">
  <div class="card-body">
      <label  class="form-label">Numero Identidicacion:</label>
  </div>
</div>
</div>

<div class="col-md-2">
  <label for="inputState" class="form-label">ID DISPOSITIVO:</label>
  <select id="inputState" class="form-select">
    <option selected>Choose...</option>
    <option>DISPOSITIVO 1</option>
    <option>DISPOSITIVO 2</option>
    <option>DISPOSITIVO 3</option>
  </select>
</div>
<br>
        <label  class="form-label">FECHA:</label>
        <input type="date" style="margin: 60px" value="2023-05-01" />
        <br>

<div class="col-12">
  <button type="submit" class="btn btn-primary">BUSCAR</button>

  <button c type="submit" style="margin: 80px "class="btn btn-primary">TOMAR EXAMEN</button>
        </div>
        <button class="btn btn-link" (click)="volver()">Volver</button>
      </div>
    </div>
  </div>
</div>
