
<div class="form-floating mb-80" class = "text-center">

<button  width="500" height="500" type="button" style="margin: 60px " class="btn btn-primary btn-lg" routerLink="pacientes">
  PACIENTE
</button>

</div>

<div class="form-floating mb-100" class = "text-center">

<button  width="500" height="500" type="button" style="margin: 50px" class="btn btn-primary btn-lg" routerLink="especialista">ESPECIALISTA</button>
</div>

<div class="form-floating mb-8">
<div class="text-center">
  <img src="../assets/imagenes/ekg-iot.jpg" class="rounded" alt="...">
</div>
</div>

