<div class="container text-center">
  <div class="row">
    <div class="col">
      <button  width="500" height="500" type="button" style="margin: 10px " class="btn btn-primary btn-lg" routerLink="pacientes">
        PACIENTE
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button  width="500" height="500" type="button" style="margin: 50px" class="btn btn-primary btn-lg" routerLink="especialista">
        ESPECIALISTA
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="../assets/imagenes/ekg-iot.jpg" class="rounded" alt="...">
    </div>
  </div>
</div>
