<h2 class = "text-center">ESPECIALISTA </h2>
<div class="container">
  <div class="row">

    <div class="card border-0 shadow rounded-3 my-5">
      <div class="card-body p-4 p-sm-5">
<div class="position-relative">
  <div class="position-absolute top-100 start-50 translate-middle"></div>
  <div class="form-floating mb-180" class = "text-center">
  <button  width="500" height="500" type="button" class="btn btn-primary btn-lg" (click)="registro()">
    BUSCAR PACIENTE
  </button>

</div>
</div>
        <br>

<div class="form-floating mb-100" class = "text-center">

  <button  width="500" height="500" type="button" class="btn btn-primary btn-lg"(click)="registro2()" >
    TOMAR EXAMEN</button>
</div>
        <button class="btn btn-link" (click)="volver()">Volver</button>
      </div>
    </div>
  </div>
</div>
